@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900");
* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #eee;
  color: #000000;
  scroll-behavior: smooth;
}

div {
  display: block;
  position: relative;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin-bottom: 0px;
}

p {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  color: #828282;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

p a {
  display: inline;
  position: relative;
  color: inherit;
  border-bottom: solid 1px #ffa07f;
  transition: all 200ms ease;
}

a,
a:hover,
a:visited,
a:active,
a:link {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

p a:active {
  position: relative;
  color: #FF6347;
}

p a:hover {
  color: #FFFFFF;
  background: #ffa07f;
}

p a:hover::after {
  opacity: 0.2;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

.form-control {
  color: #db5246;
}

section {
  display: block;
  position: relative;
  box-sizing: border-box;
}

.clear {
  clear: both;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.bbb_background {
  background-color: #E0E0E0 !important;
}

.trans_200 {
  transition: all 200ms ease;
}

.trans_300 {
  transition: all 300ms ease;
}

.trans_400 {
  transition: all 400ms ease;
}

.trans_500 {
  transition: all 500ms ease;
}

.fill_height {
  height: 100%;
}

.super_container {
  width: 100%;
  overflow: hidden;
}

.prlx_parent {
  overflow: hidden;
}

.prlx {
  height: 130% !important;
}

.nopadding {
  padding: 0px !important;
}

.button {
  display: inline-block;
  background: #0e8ce4;
  border-radius: 5px;
  height: 48px;
  transition: all 200ms ease;
}

.button a {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  color: #FFFFFF;
  padding-left: 35px;
  padding-right: 35px;
}

.button:hover {
  opacity: 0.8;
}

.bbb_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(203, 225, 238, 0.3);
}

.bbb_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bbb_container {
  top: 50%;
  transform: translateY(-50%);
  padding-right: 40px;
}

.bbb_title {
  padding-right: 50px;
}

.bbb_text {
  margin-top: 17px;
}

.bbb_text p:last-child {
  margin-bottom: 0px;
}

.bbb_slider_nav {
  margin-top: 27px;
}

.bbb_nav {
  display: inline-block;
  width: 36px;
  height: 36px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  margin-right: 16px;
  background-color: #e86037;
}

.bbb_nav:last-child {
  margin-right: 0px;
}

.bbb_nav i {
  line-height: 36px;
  color: #fff;
  font-size: 18px;
  transition: all 200ms ease;
}

.bbb_nav:hover i {
  color: #474747;
}

.bbb_item {
  background: #FFFFFF;
  border-radius: 1px;
  padding: 25px;
}

.bbb_image {
  width: 100%;
  height: 212px;
}

.bbb_image img {
  width: auto !important;
  max-width: 100% !important;
}

.bbb_category a {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.bbb_category a:hover {
  color: #0e8ce4;
}

.bbb_content {
  margin-top: 24px;
}

.bbb_name {
  float: left;
}

.bbb_name a {
  font-size: 16px;
  color: #000000;
}

.bbb_name a:hover {
  color: #0e8ce4;
}

.bbb_price {
  font-size: 16px;
  font-weight: 500;
  float: right;
}

.bbb_fav {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 36px;
  height: 36px;
  background: #FFFFFF;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  transition: all 200ms ease;
  cursor: pointer;
}

.bbb_fav.active {
  visibility: visible;
  opacity: 1;
}

.bbb_fav:hover {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.bbb_item:hover .bbb_fav {
  visibility: visible;
  opacity: 1;
  top: 18px;
}

.bbb_fav i {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #cccccc;
  line-height: 36px;
  pointer-events: none;
  z-index: 0;
  transition: all 200ms ease;
}

.bbb_fav.active i {
  color: red;
}

.bbb_item:hover .bbb_fav {
  visibility: visible;
  opacity: 1;
}

.bbb_marks {
  position: absolute;
  left: 18px;
  top: 18px;
}

.bbb_mark {
  display: none;
  width: 36px;
  height: 36px;
  font-size: 10px;
  font-weight: 500;
  color: #FFFFFF;
  border-radius: 50%;
  line-height: 36px;
  text-align: center;
}

.bbb_discount {
  background: #df3b3b;
}

.bbb_item.discount .bbb_discount,
.bbb_item.is_new .bbb_new {
  display: block;
}

.bbb_new {
  background: #0e8ce4;
}

@media only screen and (max-width: 991px) {
  .bbb_slider_container {
    margin-top: 15px;
  }
}
.navbar {
  background-color: white;
  padding: 20px 0px;
}

.navbar .nav-items a {
  font-size: 18px;
  font-weight: 400;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
}

.navbar .nav-items a:hover {
  background-color: orange;
}

.banner img {
  width: 100%;
}

.about {
  font-family: Verdana, sans-serif;
  font-size: 20px;
  background-color: #a03930;
  color: white;
  padding: 100px 0px;
  width: 100%;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
}

.card img {
  width: 200px;
}

.menu {
  background-image: url(../assets/testbg.png);
  z-index: 999999;
  padding: 100px 0px;
  background-attachment: fixed;
  color: white !important;
}

.services {
  background-image: url(../assets/testbg.png);
  color: white;
  padding: 100px 0px;
  background-attachment: fixed;
}

.menu_img img {
  max-height: 200px;
  height: 200px;
}

@media only screen and (max-width: 991px) {
  .menu_img img {
    height: 200px;
  }
}
.service_img img {
  height: 200px;
  width: auto;
}

.sss_prev, .sss_next {
  background-color: #e86037;
}

.about-p {
  font-size: 17px;
}

.testimonials {
  background-image: url(../assets/menu.png);
  padding: 90px 0px;
  background-attachment: fixed;
}

.owl-carousel .owl-item {
  transition: all 0.3s ease-in-out;
}

.owl-carousel .owl-item .card {
  padding: 30px;
  position: relative;
}

.owl-carousel .owl-stage-outer {
  overflow-y: auto !important;
  padding: 40px 0px;
}

.testimonials .owl-carousel .owl-item img {
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}

.owl-carousel .owl-item .card .name {
  text-align: center;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #FF6347;
  padding: 0.3rem 0.4rem;
  border-radius: 5px;
  box-shadow: 2px 3px 15px #3c405a;
}

.owl-carousel .owl-item .card {
  opacity: 0.2;
  transform: scale3d(0.8, 0.8, 0.8);
  transition: all 0.3s ease-in-out;
}

.owl-carousel .owl-item.active.center .card {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

.owl-carousel .owl-dots {
  display: none;
  width: 100%;
  text-align: center;
}

.owl-theme .owl-dots .owl-dot span {
  height: 20px;
  background: #2a6ba3 !important;
  border-radius: 2px !important;
  opacity: 0.8;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  height: 13px;
  width: 13px;
  opacity: 1;
  transform: translateY(2px);
  background: #83b8e7 !important;
}

@media (min-width: 480.6px) and (max-width: 575.5px) {
  .owl-carousel .owl-item .card .name {
    left: 24%;
  }
}
@media (max-width: 360px) {
  .owl-carousel .owl-item .card .name {
    left: 30%;
  }
}
.bg-book {
  background-color: rgb(243, 116, 12);
}

#counter {
  background-color: #a03930;
  color: #fff;
  display: block;
  overflow: hidden;
  text-align: center;
  padding: 100px 0;
}

#counter .count {
  padding: 50px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  text-align: center;
}

.count h4 {
  color: #fff;
  font-size: 16px;
  margin-top: 0;
}

#counter .count .fa {
  font-size: 40px;
  display: block;
  color: #fff;
}

#counter .number {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  color: white;
}

/*  Pricing Section  */
#pricing {
  background: #f7f7f7;
}

.pricing-items {
  padding-top: 50px;
}

.pricing-item {
  background: #fff;
  position: relative;
  box-shadow: 0 0 9px 0 rgba(130, 121, 121, 0.2);
  padding: 50px 0px;
  border-top-right-radius: 2em;
  border-bottom-left-radius: 2em;
}

.pricing-item.active {
  top: -50px;
}

.price-list li {
  list-style: none;
  margin-bottom: 15px;
}

.price-list .price {
  font-size: 30px;
  font-weight: bold;
}

.pricing-item .ribbon {
  margin: -50px 0 20px;
  display: block;
  background-color: #ffb400;
  padding: 15px 0 2px;
  opacity: 0.8;
  border-top-right-radius: 2em;
}

.pricing-item:hover .ribbon {
  background-color: #ffb400;
  opacity: 1;
}

.pricing-item.active .ribbon {
  background-color: #ffb400;
  opacity: 1;
}

.pricing-item .ribbon p {
  color: #fff;
  font-size: 22px;
  margin: 0 0 10px;
  font-weight: 600;
}

.pricing-item.active .price-list li, .pricing-item:hover .price-list li {
  color: black;
}

ul.price-list {
  margin-bottom: 30px;
  padding: 0;
}

.btn-price {
  display: inline-block;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  padding: 14px 40px;
  border-radius: 26px;
  border: 1px solid #848181;
  background-color: transparent;
  color: #848181;
}

.pricing-item:hover .btn-price,
.active .btn-price {
  border: 1px solid #ffb400;
  background-color: #ffb400;
  color: #fff;
}

.btn-price:focus {
  background-color: transparent;
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  .pricing-items {
    padding-top: 0;
  }
  .pricing-item.active {
    top: 20px;
    margin-bottom: 40px;
  }
}
.ads img {
  width: auto;
  height: auto;
  overflow: hidden;
}

footer {
  background-color: #67231e;
  color: rgb(186, 176, 176);
}

.about .about-img2 {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .about .about-img2 {
    display: block;
    padding: 30px;
  }
  .about .about-img {
    display: none;
  }
  .about {
    text-align: center;
  }
  .about p {
    padding: 20px;
  }
}
.info {
  padding: 30px;
  color: black !important;
  text-align: center;
}

.info p {
  color: white !important;
}

.info p span {
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */